@import "../../styles/globals.scss";
.footer {
    width: 100%;
  background: #231f20;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @media (max-width: 991px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footer-top {
  display: flex;
  gap: 60px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.footer-col h3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100px;
    height: 2px;
    background: #ff000a;
    border-radius: 10px;
  }
}

.brand .logo {
  font-size: 34px;
  font-weight: bold;

  span {
    color: red;
  }
}

.tagline {
  font-size: 12px;
  margin: 6px 0 20px;
}

.desc {
  max-width: 330px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 12px;
}

.email {
  color: rgb(215, 40, 47);
  margin-bottom: 25px;
  font-size: 12px;
}

.socials {
  display: flex;
  gap: 15px;

  span {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}

.footer-col ul {
  list-style: none;
  padding: 0;

  li {
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      color: rgb(215, 40, 47);
    }
  }
}
.subscribe {
  h3 {
    margin-bottom: 10px;
    &::after {
      display: none;
    }
  }
}
.subscribe input {
  height: 35px;
  width: 100%;
  max-width: 190px;
  padding: 6px;
  padding-left: 16px;
  border-radius: 10px;
  border: none;
  margin-bottom: 6px;
  font-size: 12px;
}

.subscribe button {
  height: 30px;
  background: rgb(215, 40, 47);
  color: #fff;
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 18px;
}

.footer-bottom {
  border-top: 1px solid #444;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
