@import '../../styles/globals.scss';
.footer {
  background: #1c1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: grid;
  grid-template-columns: 2.2fr 1.3fr 1.6fr 1.4fr;
  gap: 60px;
  padding: 60px 80px;
}

.footer-col h3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 50px;
    height: 3px;
    background: red;
  }
}

.brand .logo {
  font-size: 34px;
  font-weight: bold;

  span {
    color: red;
  }
}

.tagline {
  font-size: 12px;
  margin: 6px 0 20px;
}

.desc {
  max-width: 330px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.email {
  color: red;
  margin-bottom: 25px;
}

.socials {
  display: flex;
  gap: 15px;

  span {
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}

.footer-col ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.subscribe input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.subscribe button {
  background: red;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.footer-bottom {
  border-top: 1px solid #444;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
